.debug-msg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2em .25em;
    background: rgba(#770000,.95);
    border: 4px solid #000;
    color: #000;
    text-align: center;
    line-height: 1.5;
    z-index: 10;
 
    strong {
        text-transform: uppercase;
        color: #fff;
    }
}