@font-face {
    font-family: 'yanone_kaffeesatzregular';
    src: url('font/yanonekaffeesatz-regular-webfont.eot');
    src: url('font/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('font/yanonekaffeesatz-regular-webfont.woff') format('woff'),  url('font/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),  url('font/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yanone_kaffeesatzlight';
    src: url('font/yanonekaffeesatz-light-webfont.eot');
    src: url('font/yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('font/yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('font/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;
}