#reservation {

    fieldset {
        position: relative;
        clear: both;
        margin: 60px auto 0;
        padding: 3em 0 1em;
        border: none;

        legend {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'yanone_kaffeesatzregular', Arial;
            font-size: 3rem;
            color: #663;
        }

        @media screen and (min-width: 1111px){
            float: left;
            clear: none;
            width: auto;
            max-width: calc(50% - 50px);
            margin: 0;

            &.fset--visite {
                margin-right: 40px;
            }
        }
    }

    legend {
        display: none;
    }


    label {
        position: relative;
        display: block;
        clear: both;
        width: 100%;
        margin-top: 40px;
        text-transform: uppercase;

        @media screen and (min-width: 450px) {
            height: 120px;

            select,
            input {
                position: absolute;
                top: 3em;
                font-size: 16px;
            }
        }

        &[for="date"],
        &[for="heure"] {

            @media screen and (min-width: 450px) {
                clear: none;
                margin: 32px 0;
            }

            @media screen and (min-width: 630px) {            float: left;
                margin-right: 16px;
            }

        }

        &[for="date"] {
            width: 160px;

            @media screen and (min-width: 450px) {            float: left;
            }
        }

        &[for="heure"] {
            width: 100px;

            @media screen and (min-width: 450px) {            float: right;
            }

            @media screen and (min-width: 630px) {            float: left;
            }
        }

        &[for="nb_gens"] {

            input {
                max-width: 200px;
                height: 60px;
            }

            @media screen and (min-width: 630px) {
                float: left;
                clear: none;
                width: 120px;
                margin: 32px 0;
                height: 120px;

                input {
                    position: absolute;
                    top: 3em;
                    font-size: 16px;
                }
            }

            @media screen and (min-width: 1111px) {
                margin: 10px 0;
            }
        }

        &[for="newsletter"] {
            height: 60px;
            clear: none;

            [type="checkbox"] {
                float: left;
                display: inline;
                width: auto;
                height: auto;

                &::before {
                    content: none;
                }
            }
        }
    }

    select,
    input {
        display: block;
        margin-top: 10px;
        width: 100%;
        color: #c33;
        font-size: 1.6rem;
        border: 2px solid #fff;
        padding: 1em .125em;
        text-align: center;
        overflow: visible;

        &:hover,
        &:focus {
            outline: #c33 1px solid;
        }
    }

    select {
        height: 3em;
    }

    button {
        display: block;
        clear: both;
        margin: 32px auto;
        padding: 1em;
        border: none;
        outline: none;
        background: #c33;
        color: #fff;
        text-transform: uppercase;
        line-height: 2.25;

        &:hover,
        &:focus {
            background: darken(#c33,5%);
        }

        &:active {
            position: relative;
            top: 2px;
            left: 2px;
        }
    }

    .err-msg {
        padding: .25em;
        background: #fff;
        border-left: 4px solid #631daa;
        color: #631daa;
        text-transform: none;
        box-shadow: 3px 3px 3px rgba(#444,.3);
    }

    input.err-field {
        outline: 2px solid #631daa;
        color: #631daa;
    }
}

.form-ok {
    margin: 5%;
    padding: .5em;
    border: 2px solid #6c0;
    color: #6c0;
    background: #fff;
}

.form-no {
    margin: 5%;
    padding: .5em;
    border: 2px solid #631daa;
    color: #631daa;
    background: #fff;
}