/*===================================================================
  GOOGLE MAPS STYLES
===================================================================*/

.google-map {
  width: 49%;
  height: 600px;
  display: inline-block;
}